
body{
    background-color: rgb(236, 215, 255);
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    grid-row: auto;
    justify-content: center;
}
li a{
    text-decoration: none;
    color: white;
    padding: 6px;
    font-family: cursive;
}
header{
    background-color: black;
    width: 100%;
    border-radius: 15px;
}
main{
    border-radius: 8px;
    background-color: rgb(148, 110, 184);
    border: 2px solid rgb(131, 62, 145);
    padding: 8px;
    font-family: cursive;
}
section{
    background-color: rgb(237, 192, 248);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    width: 80%;
    font-family: cursive;
    border: 2px solid rgb(97, 2, 97);
    box-shadow: 4px 4px  rgb(97, 2, 97);
}
.contenedor{
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px purple,
    0 0 10px plum, 0 0 1px red;
}
.img01{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    bottom: 0;
    width: 96%;
    margin: auto;
}
/*DATOS CURIOSO*/
h1{
    font-family: "Oi", serif;
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 3px rgb(97, 2, 97);
    letter-spacing: 3px;
    word-spacing: 3px;
}
/*login*/
form{
    background-color: rgb(237, 192, 248);
    padding: 20px;
    border-radius: 15px;
    margin: 95px auto;
    width: 30%;
    font-family: cursive;
    border: 2px solid rgb(97, 2, 97);
    box-shadow: 4px 4px  rgb(97, 2, 97);
    display: flex;
    flex-direction: column;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: rgba(158, 22, 158, 0.781);
}
tr:hover{
    background-color: rgb(220, 43, 226);
}
.img02{
    height: 400px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px black;
}
input{
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    margin: 0 auto;
}
button{
    padding: 10px;
    width: 97%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 auto;
}
button:hover{
    background-color: rgb(177, 115, 231);
    box-shadow: 2px 2px  2px  rgb(220, 77, 239) ;
    transform: scale(1.02);
    border: 1px solid purple;
}
input:focus, select:focus, textarea:focus, button:focus{
    outline: none;
    border-color: blueviolet;
    box-shadow: 0 0 15px blueviolet  ;
}
.fila{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.campo{
    width:100%;
    display:flex;
    flex-direction:column;
    
}
